P{color:brown}
a{
    background-color: blue; 
    color: brown;
    border: 1px solid black;
    text-decoration: none;
    font-size: 30px;
    display:inline-block;
    width: 100px;
    padding: 5px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
a:hover{
    background-color: red;
    color: blue;
    outline: 1px solid black;
   border: 1px solid black;
}

    h1{
        border: 1px solid black;
    }
