h1 {
    background-color: red;
    color: white;
    text-align: center;

}

a {
    background-color: blue;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    background-color: white;
    color: blue;
    outline: 1px solid black;
}